@import url('http://fonts.cdnfonts.com/css/magicmedieval');

* {
    box-sizing: border-box;
}

html {
    font-family: 'MagicMedieval', sans-serif;
}

body {
    /* default layout */
    display: flex;
    align-items: center;
    /* need height for the layout to work */
    justify-content: center;
    height: 100vh;
    /* overflow to hide the scrollbars */
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

